<table>
  <thead>
    <tr>
      <td *ngFor="let column of tableColumns">
        {{ column }}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of cities">
      <td>{{ city.name }}</td>
      <td>{{ city.humidity }}</td>
      <td>{{ city.temp }}</td>
      <td>{{ city.rain }} <img [src]="city.image"></td>
      <td>
        <button mat-raised-button (click)="getWeatherData(city)" *ngIf="!city.humidity && !city.temp">Get Data</button>
        <button mat-raised-button (click)="predict(city)" *ngIf="city.humidity && city.temp && city.rain === null">Predict</button>
        <button mat-raised-button (click)="save()" *ngIf="city.rain !== null">Save</button>
      </td>
    </tr>
  </tbody>
  
</table>